*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background: #fff url(../img/cork-board.jpg);
  margin: 100px;
}

.Photo img {
  height: 320px;
  width: 296px;

}

.Photo:before {
  content: url('../img/picture.jpg');
  position: absolute;
  top: 136px;
  left: 142px;

}

.bear img {
  height:550px;
  width: 650px;
  position: absolute;
  top: 426px;
  left: 478px;
  -webkit-transform: rotate(12.5deg);
   -moz-transform: rotate(12.5deg);
     -ms-transform: rotate(12.5deg);
       -o-transform: rotate(12.5deg);
         tranform: rotate(12.5deg);

}

.carebear img {
 height: 350px;
 width: 450px;
 position: absolute;
 top: 482px;
 left: 569px;
 -webkit-transform: rotate(12.5deg);
  -moz-transform: rotate(12.5deg);
    -ms-transform: rotate(12.5deg);
      -o-transform: rotate(12.5deg);
        tranform: rotate(12.5deg);

}

.pin img {
  position: absolute;
  top: 500px;
  left: 650px;
}

.pin:before {
  content:url('../img/dart.png');
  position: absolute;
  -webkit-transform: rotate(40.5deg);
  bottom: 10px;
  left: 85px;

}
